article.media {
    width: 100%;
}

.test-run {
    &-card {
        border: 1px solid #dbdbdb;
        padding: 12px;

        .info {
            border-left: 1px solid #dbdbdb;
        }

        &-actions {
            display: none;
        }

        &:hover &-actions {

            font-size:14px;

            display: block;

            & > a {
                padding: 0 36px;
                border-left: 1px solid #dbdbdb;
            }

            & > a:first-child {
                border-left: 0;
            }
        }
    }
}

.heading{
    margin-bottom:25px;
}

.timeline-content{
    width:100%;
}

.suit-list ul > ul {
    margin-right: 0;
}

.suit-root {
    padding: .75rem .5rem;
    margin-bottom: 0 !important;
    background-color: #f5f5f5;
}

.suit {
    margin-bottom: .5rem;
}

.new-item-input {
    margin-top: .5rem;
    margin-right: .5em;
}

.add-item-input {
    width: 20rem;
}

.last-child {
    margin-right: 0 !important;
}
