<div class="tabs is-centered is-boxed">
    <ul>
        <li class="is-active">
            <a>
                <span>Test Cases</span>
            </a>
        </li>
        <li>
            <a>
                <span>Test Runs & Results</span>
            </a>
        </li>
        <li>
            <a>
                <span>Reports</span>
            </a>
        </li>
    </ul>
</div>