<ul class="menu-list">
    <li>
        <NavLink href="projects">
            <span class="oi oi-list-rich" aria-hidden="true"></span>Projects
        </NavLink>
    </li>
    <li>
        <NavLink href="test-cases">
            <span class="oi oi-home" aria-hidden="true"></span>Test Cases
        </NavLink>
    </li>
    <li>
        <NavLink href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span>Test Runs & Results
        </NavLink>
    </li>
    <li>
        <NavLink href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span>Reports
        </NavLink>
    </li>
</ul>

@functions {

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
